AFRAKALA_API_URL=http://192.168.170.8:8000
AFRAKALA_API_KEY=
TOROB_MIN_DELAY_SECONDS=3
TOROB_MAX_DELAY_SECONDS=8
TOROB_MAX_SELLERS_PER_URL=30
TOROB_MAX_RETRY=3
SELLER_CRAWL_TIMEOUT_SECONDS=15
MAX_SELLERS_TO_CRAWL=50
TOROB_HEADLESS=true
CRAWL_SELLER_SITES=true
