# افراکالا API
AFRAKALA_API_URL=http://192.168.170.8:8000
AFRAKALA_API_KEY=your_api_key_here

# Chrome (اختیاری)
USE_CHROME_PROFILE=false
CHROME_USER_DATA_DIR=
CHROME_PROFILE_NAME=Default

# تنظیمات ربات
MAX_WEBSITES_TO_CRAWL=20
HEADLESS=false
